.loginBody{
	background-color:darkviolet;
	background: url(../../../assist/loginPaper.jpg) no-repeat content-box;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginMain{
	background-color: #fff;
	padding: 65px 55px 100px;
	width: 25%;
	border-radius: 15px;
	position: relative;
}
.login_upper h1{
	text-align: center;
	font-size: 3.4rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 0 49px 0;
}

.input label{
	font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.input_field input{
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: 0 0;
   border: none;
	border-bottom: 2px solid #eee;
	margin-bottom: 15px;
}
.LoginBottom{
	position: absolute;
	bottom: 0;
	left: 124px;
}

.LoginBottom p span{
	color: #ffd369;
	cursor: pointer;
	
}